#header {
    background-color: #FFF0F5;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    z-index: 5;
    box-shadow: 2px 2px 2px #ff89a7;
}

#header span {
    color: #db5375;
    grid-column: span 6;
    font-size: 25px;
    font-weight: bold;
    font-family: "Apercu Mono";
    padding-left: 10px;
    padding-top: 5px;
    z-index: 6;
}

#header a {
    color: #e67793;
    padding-top: 10px;
    font-size: 15px;
    font-family: Apercu;
    border: none;
    background-color: #FFF0F5;
    text-decoration: none;
    text-align: center;
    z-index: 6;
}








div #pinkclouds {
    background-image:url("id_photo.jpg");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

div #id {
    background-image:url("pinkclouds.jpg");
    position: relative;
    width: 30%;
    margin-left: 35%;
    margin-top: 60px;
    z-index: 2;
    padding: none;
    border: none;
}

div #name {
    position: relative;
    color: #db5375;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: "Apercu Mono";
    width: 40%;
    margin-left: 30%;
    z-index: 2;
}

div #description {
    position: relative;
    color: #e67793;
    text-decoration: none;
    font-family: Apercu;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

#aboutmediv {
    height: 80%;
    margin-top: 10%;
}









#projectpage {
    position: relative;
    width: 100%;
}

#sky {
    position: relative;
    margin-top: 6px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#projectpage h1 {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 15%;
    color: #ff96b9;
    margin-top: 220px;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 2px #604dbe;
}

h2 {
    font-size: 42px;
    margin-top: 60px;
    color: #ee70ad;
    text-align: center;
}

.title-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.title-container .title {
    color: #ef91bf;
    font-weight: bold; 
    font-size: 30px;
}

.grid-container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100px;
}

.project_link {
    font-size: 21px;
    color: #f2a9cc;
    text-align: left;
}

.one {
    font-size: 21px;
    color: #ff9bd0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.four {
    font-size: 15px;
    color: #ff9bd0;
    text-align: right;
    grid-column-start: 4;
    grid-column-end: 5;
}

.five {
    font-size: 15px;
    color: #ff9bd0;
    text-align: right;
    grid-column-start: 5;
    grid-column-end: 6;
}

#down {
    position: absolute;
    left: 45.5%;
    top: 90%;
    width: 9%;
}





footer {
    background-color: #FFF0F5;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 40px;
    z-index: 5;
    box-shadow: 0px 0px, 0px -2px 2px #ff89a7;
}

footer #linkedinpic {
    height: 20px;
    grid-column-start: 8;
    grid-column-end: 10;
    margin: none;
    padding: 0px 5px 0px 0px;
}

footer #linkedin {
    grid-column-start: 8;
    grid-column-end: 10;
    margin-top: 9px;
}

footer #linkedinlink {
    color: #ee70ad;
    position: absolute;
    text-decoration: none;
}


footer #emailpic {
    height: 20px;
    grid-column-start: 6;
    grid-column-end: 8;
    margin: none;
    padding: 0px 5px 0px 0px;
}

footer #email {
    grid-column-start: 6;
    grid-column-end: 8;
    margin-top: 9px;
}

footer #emaillink {
    background-color: transparent;
    color: #ee70ad;
    position: absolute;
    text-decoration: none;
    border: none;
    margin-top: 2px;
}